$colorPrimary: var(--cl-primary, #5c50bb);
$colorSecondary: var(--cl-secondary, #efedfd);
$colorDefaultBg: var(--cl-default-bg, #f7f7f7);
$colorBorder: var(--cl-border, #a8a8a8);
$colorSeparator: var(--cl-separator, #e1e1e1);
$white: white;
$black: black;
$black12: rgba(0, 0, 0, 0.12);
$disabled: #aaa;
